@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');

head,body{
    background: url('https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?t=st=1655809019~exp=1655809619~hmac=4553ca10ee30ad9d1cd657211084a3e1b54aba152128c0e092ba192c5a407dc2&w=2000');

}
.abt1{
    border-radius: 35PX;
    padding: 1px;
    margin: 30px;
}

.bbt:hover{
    transform: scale(1.05);
    transition: all 0.8s ease;
}


.center1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    
}

.bio{
    font-family: 'Jura', sans-serif;
        font-weight: 900;
        text-align:center;
    font-size: 1.3em;
    color:whitesmoke;

}
.name1{
    font-family: 'Secular One', sans-serif;
    float:inline-start;
    color: wheat;
    font-size: 1.4em;
}

.role{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    float:inline-start;
}

.bbt{
    width: 400px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    background-color: #4E8397;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
.image1 > img{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
.head{
    font-size: 35px;
    margin-top: 25px;
    color: darkred;
    font-weight: 900;
}

.story >.notes{
    font-size: 2em;
    margin: 0.1em;
    padding: 0.1em;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;}
.goto{
   padding: 10px;
   margin: 10px;
   color: rgb(0, 0, 0);
   font-weight: 900;
   border-radius: 15px;
}

.goto:hover{
    background-color:rgb(0, 0, 0);
    transition: all 0.8s;
    color: whitesmoke;
}

@media only screen and (max-width: 800px) {
    .bbt{
        height: 350px;
    }
   
  }