@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

head,body{
    background: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDQ0NDQ0NDQ0NDQ0NDQ0NDw8NDQ0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0KFgoPDisZExorKysrKystLSsrKysrLSs3KystKysrKysrKysrLSsrKy0rKystKy0rKysrKys3NzcrK//AABEIAKgBKwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQcC/8QAHhABAQACAgIDAAAAAAAAAAAAAAERITFhAsFBgaH/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A3AAFEUEs46/QAAACUAAAVAAVAFBAURQAAAQFQAUQBPDxxMZt3bm7u7nHp0AAAAigAAJhQEABQQAAAAAAAAAABUUBFQFQs+lARQEVFABAFEBQAEVAUAAABFAQVAUQAFQAAFQUEAAUQFAARUAUAAARQAAAAAAAAAEwoAigAAgAAoCCoAAAAAAAKgAqACoAAAqKCAoCKAIqAoAAAIKAAgKioAKgKAAAAACCgIKAIoAigAigIKAAAAAAACAoICgAAAAAIqAqACiWa5x3OYoIAAqKAIAAoAICoqAqKgKIAoIAqKAACCgCRUBQAAABFAEAAAVFABFAAAABFAARQAAAAQUAAAAABAUABFARQAAAAAQUEABQAEAAFBFQAFAQIAqKgKioAoAIoAhJhQAAQIoAAAAAAAAAAAgCgAAgKIoAgAqAKIoAICooAACKAAgCgAIoAIoAigCKAIoCKAgAKAAgAoAIqKCQFARUAFAEABQAABFABFARQAAAABFAAABFSwFRQAAAAELNXeO58AAoAAAAAAAAAAAAAAAAAAAAAigAgAoAIKA//9k=');
}

.profilecard{
    width: 300px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.abt1{
    border-radius: 30PX;
    padding: 10px;
    margin: 30px;
}

.center1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    
    
}

.bio{
    font-family: 'Jura', sans-serif;
        font-weight: 900;
        text-align:center;
    font-size: 15px;
    color:rgb(0, 0, 0);
    padding: 5px;

}
.name1{
    font-family: 'Secular One', sans-serif;
    float:inline-start;
    color: royalblue;
    font-size: 1.6em;
    margin-top: 10px;
}

.role{
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    float:inline-start;
}

.bbt{
    width: 350px;
    height: 420px;
    padding: 30px;
    border-radius: 60px;
    background-color: #ffffff;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}


.socail-media{
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    justify-items:left;
}
.icons{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 25% !important;
    color: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

}


.image1 > img{

    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.head{
    font-size: 35px;
    margin-top: 25px;
    color: rgb(0, 2, 139);
    font-weight: 900;
}

.story >.notes{
    font-size: 22px;
    margin:  5px;
    padding: 4px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;}
.goto{
   padding: 10px;
   margin: 10px;
   color: rgb(0, 0, 0);
   font-weight: 900;
   border-radius: 15px;
}

.goto:hover{
    background-color:rgb(0, 0, 0);
    transition: all 0.8s;
    color: whitesmoke;
}

@media only screen and (max-width: 800px) {
    .bbt{
        height: 450px;
        padding: 35px !important;
    }
    .bio{
        padding: 10px;
    }
    .story >.notes{
        font-size: 19px;
        margin: 5px;
        padding: 5px;
    }
    .story > h2{
        font-size: x-large;
    }
   
  }