@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 2%;  
    background-color: rgb(255, 255, 255); 
  }
  /* body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
  

.home {
  color: rgb(0, 0, 0);
  font-weight: bold;
  z-index: 2;
  display: flex;
 align-content: center;
 justify-content: center;
 justify-items: center;
 align-items: center;
 margin: 100px auto;
 width: auto;
 padding: 20px;
}
.typewriter{
  text-align: center;
  font-size: 35px;
  font-weight: 900 !important;
  color:rgb(0, 0, 0);
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  word-spacing: 3px;
}

.card{ 
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
  width: 200px;
  font-size: medium;
  font-weight: 10000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.ownstyle{
 display: flex;
 flex-wrap: wrap;
 align-content: center;
 justify-content: center;
 justify-items: center;
 align-items: center;
}

.home:hover{
  filter: blur(0.00000px);
  -webkit-filter: blur(0.00000px);
}

@media only screen and (max-width: 800px) {
  .home {
      font-size: 15px;
  }
 
}