@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 2%;    
  }

.Homepage{
    color: rgb(0, 0, 0);
  font-weight: bold;
  border: 3px solid #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: auto;
  padding: 20px;

}
.typewriter{
  text-align: center;
  font-size: 15px;
  font-weight: 100 !important;
  color:rgb(0, 0, 0);
  margin: 10px;
  font-family: 'Monoton', cursive;
  word-spacing: 3px;
}

.card{ 
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
  width: 200px;
  font-size: medium;
  font-weight: 10000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.ownstyle{
 display: flex;
 flex-wrap: wrap;
 align-content: center;
 justify-content: center;
 justify-items: center;
 align-items: center;
}

.Homepage:hover{
  filter: blur(0.00000px);
  -webkit-filter: blur(0.00000px);
}