@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.right{
    display: flex;
    float: right;
    top: 25px;
    color: rgb(255, 255, 255);
}

.nav1{
    margin: 5px;
    padding: 5px;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    float: right;
}


.active:hover{
    border-bottom: 1px solid darkred;
}


@media only screen and (max-width: 800px) {
    .heading {
       display: none;
    }   
  }