@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



.nav2{
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;    z-index: 9999; 
    width: 100%;

}

.right{
    display: flex;
    float: right;
    top: 25px;
    color: rgb(255, 255, 255);
}

.nav1{
    margin: 5px;
    padding: 5px;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    float: right;
}


.active:hover{
    border-bottom: 1px solid darkred;
}


@media only screen and (max-width: 800px) {
    .heading {
       display: none;
    }   
  }