@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');



.tech{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: 900 !important;
    margin-bottom: 5px;
    font-family: 'Inconsolata', monospace;

}
.tech1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 2px;

    /* Created with https://www.css-gradient.com */
background: #FEFEDF;
color: #492986;
    font-weight: 800;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}

.ProjectPage{
    margin: 10px;
    color: rgb(0, 0, 0);
    padding: 5px;   
    
}
.font{
    font-family: 'Poppins', sans-serif;
}
.royal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    font-family: monospace;
    color: brown;
    margin-top: 35px !important;
}
.card-title{
    font-weight: 900 !important;
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;
}

.projects > .card{
    background-color: transparent;
    color: #FCF8FF;
    font-weight: 700;
    padding: 10px;
    max-height: 600px;
    min-height: 550px;
    background: #4E8397;
    margin-left: -12em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    
    border-radius: 0px 35px 0px 35px;
    border-right: 1px solid rgb(3, 3, 3);
    width: 350px;
    transition: all 0.2s ease;

}
.projects > .card >img{
    border-radius: 100px;
    transition: all 0.8s ;
}
.card-text{
    font-size: 15px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Inconsolata', monospace;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-between;
}

.projects > .card >img:hover{
   transform: scale(1.05);
   transition: all 0.8s ease;

}
.projects{
    margin-left: 50px;
}

.projects > .card > .card-body > .center{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: bolder;
    border-top: 0.1px solid rgb(0, 0, 0);
margin-bottom: auto;
}

.btn{
    height: auto;
    font-size: 15px;
    font-weight: 900;
    width: 100px;
    transition: all 0.8s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     background-color:darkgray;
    color: black;
    font-family: 'Inconsolata', monospace;


 }
 .btn:hover{
background-color: brown;
color: whitesmoke;
 }

.projects > .card:hover{
    transition: all 0.8s ease;
    transform: translateY(-1px) rotate(370deg);

 }


.card:hover+ .card { 
    transition: all 0.8s ease;
    transform: translateX(100px);

} 



@media only screen and (max-width: 800px) { 
    .card:nth-child(odd){
        border-radius: 0px 35px 0px 35px;
        border-right: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
    
    }
    
    .card:nth-child(even){
        border-radius: 35px 0px 35px 0px;
        border-left: 1px solid rgb(0, 0, 0);
        border-right: none;
        border-bottom: 1px solid rgb(0, 0, 0);

    
    }
    .projects > .card {
        margin-left: auto;
        width: 350px !important;
    }
    .projects >  .card:hover + .card{
        transform: none !important;
        margin-left: auto;

    } 
    .projects > .card:hover{
        transform: none !important;
        margin-left: auto;
     }
    
    
  }