@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.tech{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: 900 !important;
}
.tech1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 2px;
    /* Created with https://www.css-gradient.com */
background: #A2E781;
background: -webkit-linear-gradient(top left, #A2E781, #BED2A4);
background: -moz-linear-gradient(top left, #A2E781, #BED2A4);
background: linear-gradient(to bottom right, #A2E781, #BED2A4);
    font-weight: bolder;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}

.ProjectPage{
    margin: 5%;
    color: rgb(0, 0, 0);
    padding: 5px;   
    
}
.font{
    font-family: 'Poppins', sans-serif;
}
.royal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    font-family: monospace;
    color: brown;
    margin-top: 35px !important;
}
.card-title{
    font-weight: 900 !important;
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC', cursive;}

.projects > .card{
    background-color: transparent;
    color: #FCEDDA;
    font-weight: 700;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 10px;
    max-height: 530px;
    min-height: 500px;
    border-radius: 15px;
    background: #317773;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.projects > .card >img{
    border-radius: 10px;
    transition: all 0.8s ;
}
.card-text{
    font-size: 13px;
    max-height: 90px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif !important;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-between;
}

.projects > .card >img:hover{
   transform: scale(1.05);
   transition: all 0.8s ease;

}

.projects > .card > .card-body > .center{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: bolder;
    border-top: 1px solid black;
margin-bottom: auto;
}

.btn{
    height: auto;
    font-size: 15px;
    font-weight: 900;
  width: 100px;
  transition: all 0.8s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
 background-color:darkgray;
 color: black;

 }
 .btn:hover{
background-color: brown;
color: whitesmoke;
 }
