@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');



.tech{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: 900 !important;
    margin-bottom: 5px;
    font-family: 'Inconsolata', monospace;
}
.tech1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 2px;

    /* Created with https://www.css-gradient.com */
background: lightblue;
color: black;
    font-weight: 800;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}

.ProjectPage{
    margin: 10px;
    color: rgb(0, 0, 0);
    padding: 5px;   
}
.font{
    font-family: 'Poppins', sans-serif;
}
.royal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    font-family: monospace;
    color: rgb(50, 42, 165);
    margin-top: 35px !important;
}
.card-title{
    font-weight: 900 !important;
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;
    border-bottom: 0.1px solid rgb(0, 0, 0);

}

.projects > .card{
    background-color: transparent;
    color: darkblue;
    font-weight: 700;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    
    border-radius: 30pt ;
    max-width: 500px;
    min-width: 330px;
    transition: all 0.2s ease;
   

}
.projects > .card >img{
    transition: all 0.8s ;
    border-radius: 15pt;
}
.card-text{
    font-size: 15px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Inconsolata', monospace;
}
.projects{
    align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
   
}

.projects > .card >img:hover{
   transform: scale(1.05);
   transition: all 0.8s ease;

}
.projects{
    margin-left: 50px;
}

.projects > .card > .card-body > .center{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: bolder;
margin-bottom: auto;
}

.btn{
    height: auto;
    font-size: 15px;
    font-weight: 900;
    width: 100px;
    transition: all 0.8s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     background-color:rgb(0, 195, 255);
    color: rgb(8, 8, 8);
    font-family: 'Inconsolata', monospace;


 }
 .btn:hover{
background-color: brown;
color: whitesmoke;
 }




@media only screen and (max-width: 800px) { 
    .projects > .card{
        min-width: 350px !important;
        padding: 10px;
    }
    .projects{
        margin: 5%;
    }
    
  }