@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.tech{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    color: black;
    font-weight: 900 !important;
}
.tech1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 2px;
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    font-weight: bolder;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 2px;
    
}

.ProjectPage{
    margin: 5%;
    color: rgb(0, 0, 0);
    padding: 5px;   
    
}
.royal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    font-family: monospace;
}
.card-title{
    font-weight: 900 !important;
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;}

.projects > .card{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 10px;
    max-height: 530px;
    min-height: 500px;
    background-color: #FBAB7E;
    border-radius: 15px;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    
}
.projects > .card >img{
    border-radius: 10px;
    transition: all 0.8s ;

}
.card-text{
    font-size: 15px;
    max-height: 70px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-between;
}

.projects > .card >img:hover{
   transform: scale(1.05);
   transition: all 0.8s ease;

}

.projects > .card > .card-body > .center{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: bolder;
    border-top: 1px solid black;
margin-bottom: auto;
}

.btn{
    height: auto;
    font-size: 15px;
    font-weight: 900;
  width: 100px;
  transition: all 0.8s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
 background-color:darkgray;
 color: black;

 }
 .btn:hover{
background-color: brown;
color: whitesmoke;
 }
