@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.tech{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: 900 !important;
    margin-bottom: 5px;
}
.tech1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 2px;

    /* Created with https://www.css-gradient.com */
background: #006B38FF;
color: #FFD662FF;
    font-weight: 800;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}

.ProjectPage{
    margin: 10px;
    color: rgb(0, 0, 0);
    padding: 5px;   
    
}
.font{
    font-family: 'Poppins', sans-serif;
}
.royal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    font-family: monospace;
    color: brown;
    margin-top: 35px !important;
}
.card-title{
    font-weight: 900 !important;
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;}

.projects > .card{
    background-color: transparent;
    color: #333D79FF;
    font-weight: 700;
    padding: 10px;
    max-height: 600px;
    min-height: 550px;
    background: #FAEBEFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: margin-left 200ms;
    margin-left: -12em;
    border-radius: 0px 35px 0px 35px;
    border-right: 3px solid rgb(18, 177, 240);

}
.projects > .card >img{
    border-radius: 100px;
    transition: all 0.8s ;
}
.card-text{
    font-size: 15px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif !important;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-between;
}

.projects > .card >img:hover{
   transform: scale(1.05);
   transition: all 0.8s ease;

}

.projects > .card > .card-body > .center{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: bolder;
    border-top: 0.1px solid rgb(0, 0, 0);
margin-bottom: auto;
}

.btn{
    height: auto;
    font-size: 15px;
    font-weight: 900;
  width: 100px;
  transition: all 0.8s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
 background-color:darkgray;
 color: black;

 }
 .btn:hover{
background-color: brown;
color: whitesmoke;
 }

.card:hover + .card{
    margin-left: -1em;
} 



@media only screen and (max-width: 800px) {
   
    .card:nth-child(odd){
        border-radius: 0px 35px 0px 35px;
        border-right: 3px solid rgb(18, 177, 240);
        border-bottom: 3px solid rgb(18, 177, 240);
    
    }
    
    .card:nth-child(even){
        border-radius: 35px 0px 35px 0px;
        border-left: 3px solid rgb(18, 177, 240);
        border-right: none;
        border-bottom: 3px solid rgb(18, 177, 240);

    
    }
    .projects > .card {
        margin-left: 0px;
    }
  }